.vp-doc h2 {
  margin: 0;                 /* デフォルトCSS打ち消し */
  font-size: 24px;           /* 文字サイズ指定 */
  border-bottom: solid 4px;   /* 線指定 */
  padding-bottom: 12px;       /* 余白指定 */
  margin-bottom: 16px;        /* 周りの余白指定 */
  position: relative;        /* 位置調整 */
  font-weight: 600;       /* 文字の太さ調整 */
}

.vp-doc h2:before {
  content: '';                   /* 空白の要素を作る */
  width: 10%;                    /* 幅指定 */
  height: 4px;                    /* 高さ指定 */
  background-color: #42a6ff;      /* 背景色指定 */
  display: block;                /* ブロック要素にする */
  position: absolute;            /* 位置調整 */
  left: 0;                       /* 位置調整 */
  bottom: -4px;                   /* 位置調整 */
}